@model Gavin0720.Models.SearchViewModel
<h1>新達產品維護功能</h1>
<a asp-action="Create" class="btn btn-primary">新增產品</a>
<h3>產品表單搜尋</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div class="form-group">
                <label class="control-label">產品名稱</label>
                <input asp-for="SearchParams.CName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="搜尋送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
    
</div>






<table class="table form-control">
    <thead>
        <tr>
            <th>
                產品名稱
            </th>
            <th>
                產品價格
            </th>
            <th>
                庫存數
            </th>
            <th>
                建立時間
            </th>
        </tr>
    </thead>
    @ViewData["Message"]
    <tbody>
        @foreach (var item in Model.ProductResult)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CInventory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CCreateDt)
                </td>
            </tr>
        }
    </tbody>
</table>



<div>
    <a asp-action="Index">回到表單頁面</a>

</div>
